# Build Your First Machine Learning Model!

Welome to the **Machine Learning** programming assignment of the **Artificial Intelligence** course.

In this assignment, a Jupyter Notebook is prepared for examining almost all critical factors in designing a Machine Leaning model for a supervised learning task.

You will complete this notebook to build a ML model, and apply it to a binary classification problem. Additionally you will get familiar with varoius factors which may enhance the performance of a ML model.

In this notebook, we will take advantage of four principal python libraries for data science and machine learning tasks.

 - [Numpy](https://numpy.org): The fundamental package for **scientific computing** with Python.
 - [Pandas](https://pandas.pydata.org): An open source **data analysis and manipulation tool**, built on top of the Python programming language.
 - [Matplotlib](https://matplotlib.org) : A comprehensive library for **creating static, animated, and interactive visualizations** in Python.
 - [Scikit-Learn](https://scikit-learn.org): Simple and efficient tools for predictive data analysis and building Machine Learning models.
 
**After this assignment you will be able to:**
1. Run Exploratory Data Analysis (EDA) and know how to prepare data for a predictive model.
2. Build and apply a Machine Learning model for a supervised learning problem using known frameworks.
 
 
 **Before you start:** Please read the ***Submission*** section at the bottom of the notebook carefully.
 
 Let's get started!


# 0. User UI Preference - Introduction

<p align="center">
  <img src="images/UI.png" width=1000>
</p>

The **User Interface (UI)** is the graphical layout of an application. It consists of the buttons users click on, the text they read, the images, sliders, text entry fields, and all the rest of the items the user interacts with. This includes screen layout, transitions, interface animations and every single micro-interaction. Any sort of visual element, interaction, or animation must all be designed.

An ecommerce company has changed the UI of it's website recently but they do not know how it is possible to evaluate their new UI. Do customers like it? Do they prefer the new UI or the old one?

They have also collected feedbacks from their customers based on some pre-organized surveys. You as Machine Learning engineers are aksed to **build a Machine Learning Model so to identify the User UI preference on the basis of their UI engagement information.**

## Data

There are two files that you need to consider. *(i)* `train.csv` for training, and *(ii)* `test.csv` for testing purposes. They consist 14 columns with the following description:


| Column name | Description |
| ------------- | ------------- |
| **CustomerID** | Represents a unique identification of a user |
| **Age** | Represents the age of the user |
| **City** | Represents the city in which the user lives |
| **State** | Represents the state in which the user lives |
| **No_of_orders_placed** | Represents the total number of orders placed by a customer |
| **Last order placed_date** | Represents the last date when the customer placed the order |
| **is premium_member** | Represents whether a customer is a premium member or not. ( 0 or 1) |
| **Women's Clothing** | Represents user's engagement score in Women's_Clothing section ( 0 to 10 ) |
| **Men's Clothing** | Represents user's engagement score in Men's Clothing section( 0 to 10 ) |
| **Kid's Clothing** | Represents user's engagement score in Kid's Clothing section ( 0 to 10 ) |
| **Home &_Living** | Represents user's engagement score in Home_&_Living section ( 0 to 10 ) |
| **Beauty** | Represents user's engagement score in Beauty products section ( 0 to 10 ) |
| **Electronics** | Represents user's engagement score in Electronics products section( 0 to 10 ) |
| **Preferred_Theme** | Represents the preferred theme ( Old_UI or New_UI) |

## Packages
Let's first import all the packages that you will need during this assignment.

In [131]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# 1. Data preprocessing


What's Data preprocessing? **Data preprocessing** is an integral step in Machine Learning as the quality of data and the useful information that can be derived from it directly affects the ability of our model to learn; therefore, it is extremely important that we preprocess our data before feeding it into our model.

Some of the main preprocessing steps are:

  - **Handling missing values**: impute missing (NaN) values
  - **Standardization**: normalize our data for a more quick convergence of the model
  - **Handling Categorical Variables**: one-hot encoding is an appropirate solution
  - ...
  
In this assignment, you will apply some of these methods step by step.

In [114]:
# load the dataset into a dataframe
train_df = pd.read_csv('data/train.csv', index_col=0)
test_df = pd.read_csv('data/test.csv', index_col=0)

print(f'Number of training samples: {len(train_df)}')
print(f'Number of test samples: {len(test_df)}')
train_df.head(10)

Number of training samples: 10605
Number of test samples: 4545

,CustomerID,Age,Gender,City,State,No_of_orders_placed,Sign_up_date,Last_order_placed_date,is_premium_member,Women’s_Clothing,Men’s_Clothing,Kid’s_Clothing,Home_&_Living,Beauty,Electronics,Preferred_Theme
0,CusID_09216,27.0,Female,Vancouver,England,3.0,2019-12-14,2021-09-28,0,-66.000000,1.805655,6.058634,5.789264,7.277577,0.547905,New_UI
1,CusID_03301,32.0,Male,Chennai,British Columbia,3.0,2019-01-06,2020-06-03,0,0.550416,1.250534,0.660903,NaN,2.123604,5.263941,New_UI
2,CusID_06193,NaN,Male,NaN,Singapore,11.0,2018-01-06,2020-07-08,1,1.566844,7.380106,5.577607,2.000000,12.939206,4.242308,Old_UI
3,CusID_01261,28.0,Female,Kuala Lampur,Singapore,14.0,2017-11-01,2021-06-29,1,5.415446,3.494238,5.972045,8.697083,-2.800577,0.752943,Old_UI
4,CusID_06212,20.0,Female,Munich,Bavaria,9.0,2018-09-06,2020-01-20,0,7.936336,1.794198,4.991119,8.443345,2.000000,3.876168,Old_UI
5,CusID_01984,NaN,Female,New York City,New York,10.0,2017-10-08,2020-08-21,0,3.000000,2.063582,9.724279,7.156879,9.350577,3.549815,Old_UI
6,CusID_06118,32.0,Female,Berlin,New South Wales,4.0,2017-06-23,2020-08-05,0,3.228133,9.846237,4.951919,3.178566,1.388430,1.518788,Old_UI
7,CusID_07706,26.0,Male,Mumbai,Western Australia,10.0,2016-10-05,2021-04-01,0,4.057256,8.807102,4.240517,4.415236,1.721171,8.710133,New_UI
8,CusID_01796,33.0,Male,Perth,California,NaN,2017-06-23,2020-06-06,0,1.019729,9.485873,2.715825,2.542479,1.214771,4.342921,New_UI
9,CusID_02244,33.0,Male,Perth,Western Australia,4.0,2018-02-24,2020-01-16,0,1.849698,8.051685,8.062561,2.050965,1.302572,8.058936,Old_UI

## 1.1 Missing values (10 points):

In any real-world dataset, there are always few null values. It doesn’t really matter whether it is a regression, classification or any other kind of problem, no model can handle these NULL or NaN values on its own so we need to intervene.

```
- In python NULL is reprsented with NaN. So don’t get confused between these two,they can be used interchangably.
```

First of all, we need to check whether we have null values in our dataset or not:

In [124]:
print("Training set:")
print(train_df.isna().sum())
print("============================")
print("Test set:")
print(test_df.isna().sum())

Training set:
CustomerID                  0
Age                       694
Gender                      0
City                      307
State                       0
No_of_orders_placed       541
Sign_up_date              105
Last_order_placed_date      0
is_premium_member           0
Women’s_Clothing            0
Men’s_Clothing              0
Kid’s_Clothing            670
Home_&_Living             591
Beauty                      0
Electronics                 0
Preferred_Theme             0
dtype: int64
============================
Test set:
CustomerID                  0
Age                       309
Gender                      0
City                      139
State                       0
No_of_orders_placed       232
Sign_up_date               49
Last_order_placed_date      0
is_premium_member           0
Women’s_Clothing            0
Men’s_Clothing              0
Kid’s_Clothing            265
Home_&_Living             257
Beauty                      0
Electronics                 0
dtype: int64

There are various ways for us to handle this problem. The easiest way to solve this problem is by dropping the rows or columns that contain null values.

Here is a link for you too choose your method and then apply it on both train and test set:
https://www.geeksforgeeks.org/working-with-missing-data-in-pandas/

In [ ]:
# choose an appropriate way to impute the missing values
# Please  mention the method you have selected by writing in a markdown cell.

################ YOUR CODE STARTS HERE ################


################ YOUR CODE ENDS HERE ##################

## 1.2 Standardization (10 points):

It is another integral preprocessing step. In Standardization, we transform our values such that the mean of the values is 0 and the standard deviation is 1.

**Hint:** Use `sklearn.preprocessing.StandardScaler` to do it.

In [126]:
# Standardize your train/test data.
# Important note: You must use the mean and standard deviation of train data for test set! You know why :)

################ YOUR CODE STARTS HERE ################


################ YOUR CODE ENDS HERE ##################

## 1.3 Handling categorical Variables (10 points):

Handling categorical variables is another integral aspect of Machine Learning. Categorical variables are basically the variables that are discrete and not continuous. One of the methods to do this is **One-hot encoding**:

**-One-hot encoding:**

For categorical variables where no such ordinal relationship exists, the integer encoding is not enough.

In fact, using this encoding and allowing the model to assume a natural ordering between categories may result in poor performance or unexpected results (predictions halfway between categories).

In this case, a one-hot encoding can be applied to the integer representation. This is where the integer encoded variable is removed and a new binary variable is added for each unique integer value.

In the “color” variable example, there are 3 categories and therefore 3 binary variables are needed. A “1” value is placed in the binary variable for the color and “0” values for the other colors.

```
red,	green,	blue
1,		0,		0
0,		1,		0
0,		0,		1
```

In [128]:
# Now you have to convert the categorical features in the 
# dataset to one-hot encoded representation.
# Hint: Use pd.DataFrame.get_dummies()

# before that, we drop 'City' column from both training and test set, we wont use it.
train_df.drop('City', axis=1, inplace=True)
test_df.drop('City', axis=1, inplace=True)

cols_to_be_encoded = ['Gender', 'State']

################ YOUR CODE STARTS HERE ################


################ YOUR CODE ENDS HERE ##################

,CustomerID,Age,Gender,State,No_of_orders_placed,Sign_up_date,Last_order_placed_date,is_premium_member,Women’s_Clothing,Men’s_Clothing,Kid’s_Clothing,Home_&_Living,Beauty,Electronics,Preferred_Theme
0,CusID_09216,27.0,Female,England,3.0,2019-12-14,2021-09-28,0,-66.000000,1.805655,6.058634,5.789264,7.277577,0.547905,New_UI
1,CusID_03301,32.0,Male,British Columbia,3.0,2019-01-06,2020-06-03,0,0.550416,1.250534,0.660903,NaN,2.123604,5.263941,New_UI
2,CusID_06193,NaN,Male,Singapore,11.0,2018-01-06,2020-07-08,1,1.566844,7.380106,5.577607,2.000000,12.939206,4.242308,Old_UI
3,CusID_01261,28.0,Female,Singapore,14.0,2017-11-01,2021-06-29,1,5.415446,3.494238,5.972045,8.697083,-2.800577,0.752943,Old_UI
4,CusID_06212,20.0,Female,Bavaria,9.0,2018-09-06,2020-01-20,0,7.936336,1.794198,4.991119,8.443345,2.000000,3.876168,Old_UI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10600,CusID_01260,17.0,Male,New Delhi,NaN,2018-06-22,2020-08-11,0,2.270024,7.351513,4.551876,3.391766,3.956141,8.984595,New_UI
10601,CusID_09897,21.0,Male,West Bengal,10.0,2018-09-13,2020-01-16,0,2.183084,6.768365,3.000000,3.000000,1.000000,9.704170,Old_UI
10602,CusID_00300,31.0,Male,New Delhi,10.0,2017-12-24,2021-05-23,0,1.163734,9.472391,6.161529,4.311947,3.000000,9.751918,New_UI
10603,CusID_06489,20.0,Male,Western Australia,3.0,2017-12-15,2021-01-09,0,4.000000,4.993515,1.672222,0.408585,1.198985,9.655109,New_UI
10604,CusID_01851,NaN,Female,Taiwan,5.0,2019-12-22,2021-01-22,0,6.990234,2.286912,7.720576,8.069079,9.743400,0.634368,New_UI

The preprocess steps you have done till now,were the most essential methods to preprocess a raw data. Otherwise, you are free to do more on this phase.

For instance, **Feature Engineering** is a great example of preprocessing steps. It includes creating new features by mixing existing variables in order to help the ML model classify the sampels more accuratly.

# 2. Designing ML models

In this section, we are going to build, compile and train our ML models. There are a huge number of various models which you can use and fortunatly, almost all of them has been implemented in [Scikit-Learn](https://scikit-learn.org).

However in this assignment, **you have to choose one of the following ML algorithms**, and implement it from scratch **without using existing frameworks**.

   - **KNN**
   - **Naive Bayes**
   
There are a plenty of resourcse and tutorials for these two algorithm on the internet. Just search them and read about them.

## 2.1 KNN or Naive Bayes from scratch (25 points):

In [ ]:
# Implement one of above-mentioned algorithms from scratch.
# You are free to use Numpy and also pandas functionalities to implement them.
# But avoid using sklearn!

# Before that use train_test_split() to split your train data into train/validation
# in order to evaluate your model based on validation data

X_train, X_val, y_train, y_val = train_test_split(train_df.drop('Preferred_Theme', axis=1),
                                                    train_df['Preferred_Theme'],
                                                    test_size=0.2)

################ YOUR CODE STARTS HERE ################


################ YOUR CODE ENDS HERE ##################

## 2.2 Other common ML models (25 points):

In this part you have to use predefined ML algorithms in [Scikit-Learn](https://scikit-learn.org) to implement other known models. **You must at least try 2 differnt models** to get the full score of this part.

**Note 1:** But you are free to try other model as much as you can to get higher performances.

**Note 2:** Writing about how those algorithms work has bonus!


You can see a complete list of exisiting models in Scikit-learn documentation: https://scikit-learn.org/stable/supervised_learning.html

In [ ]:
################ YOUR CODE STARTS HERE ################


################ YOUR CODE ENDS HERE ##################

## 2.3 Evaluation (20 points):

Great! You are now able to evaluate your model and see how nice your algorithm is able to classify positive and negative samples both on train and validation data.

For this, we are going to use 4 metrics. It is highly recommnded to read about them and know how benficial they are for different purposes:

- Accuracy
- Precision
- Recall
- F1-score

Use `sklearn.metrics` to implement them and report the results on both train and validation data.

In [ ]:
################ YOUR CODE STARTS HERE ################


################ YOUR CODE ENDS HERE ##################

# 3. Submission

Please read the notes here carefully:

1. In addition to completing the code files, please send a report including your answer to these questions as well. Do not forget to put the diagrams and visualizations needed in each part.

2. The file you upload must be named as `[Student ID]-[Your name].zip.`
3. Your notebook must be executed without any problem. If not, you will lose points for each part consequently.
4. **Important Note:** The outputs of the code blocks must be remained in your notebook, otherwise, you definitly lose all the points of that part.



In case you have any questions, contact **mohammad99hashemi@gmail.com**.


Good luck :)