<h2> Imports and Libraries</h2>

In [31]:
#simple import
import random 

#alias import
import matplotlib as plt 

# sub module import
from sklearn import linear_model 

#we can install external modules using pip command (in terminal or cmd)
#example: 
#doesn't need ! on our local system

Collecting fibonacci
  Downloading fibonacci-1.0.0.tar.gz (584 bytes)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: fibonacci
  Building wheel for fibonacci (setup.py): started
  Building wheel for fibonacci (setup.py): finished with status 'done'
  Created wheel for fibonacci: filename=fibonacci-1.0.0-py3-none-any.whl size=1321 sha256=2e8fd42e388d02daa2c5aa715ae7ab902b78f6185a25982e68967d93f3714762
  Stored in directory: c:\users\mehrshad\appdata\local\pip\cache\wheels\b6\f6\49\66fc85cf89ccca7e1790fc12d141705a09e2247dbb7e3cdfeb
Successfully built fibonacci
Installing collected packages: fibonacci
Successfully installed fibonacci-1.0.0

WARNING: You are using pip version 22.0.3; however, version 22.3.1 is available.
You should consider upgrading via the 'C:\Users\Mehrshad\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

<h2> Basic data types<h2>

In [1]:
number = 2
float_number = 2.5
string1 = "Artificial"
string2 = "Intelligence"

 # we can get the type of a variable using type() 
print(type(float_number))
print(type(string1))

print(15 // 2) #integer point division
print(15 / 2) #float division
print(2 ** 10) #power

<class 'float'>
<class 'str'>
7
7.5
1024

<h5>1. Strings and String slicing</h5>

In [4]:
name = "Mehrshad"

#Strings are immutable
name + " Saadatinia"
print(name)
name += " Saadatinia"
print(name)

#indexing
print(name[0])
#string are iterable and could be accessed and modified using slicing
print(name[1:5]) #get from index 1 to 5
print(name[:8]) # ... start to 8
print(name[9:]) # ... 9 to the end
print(name[:])

#negative indexing
print(name[-2])

#third argument is called stride which determins size of our step
print(name[::2])

#reverse a string using slicing
print(name[::-1])

Mehrshad
Mehrshad Saadatinia
M
ehrs
Mehrshad
Saadatinia
Mehrshad Saadatinia
i
Mhsa adtna
ainitadaaS dahsrheM

<h5>2. String methods</h5>

In [12]:
#convert string to lower case
print(name)
name = name.lower() #.upper()
print(name)

#find first occurrence of a character
print(name.find('a'))

#is digit?
age = '22'
print(age.isdigit())

#format function for injecting values to string
txt1 = "My name is {f_name}, I'm {f_age}".format(f_name = "John", f_age = 36)
print(txt1)
print(f'My name is {name}')

mehrshad saadatinia
mehrshad saadatinia
6
True
My name is John, I'm 36
My name is mehrshad saadatinia

<h2> Built in Data Structures</h2>
<p>
  In python there are 4 main data structures using which we can <br>
  do almost everything we need from data structures and those are listed below.
  <ul>
    <li> lists </li>
    <li> tuples </li>
    <li>dictionaries </li>
    <li> sets </li>
  </ul>

  We can also import other external data structures like queue, stack and ... 
</p>

1. <h4> List </h4>
<p> List is the mostly used data structure in python and is a substitute for array in C style languages but could be modified after initialization. List can hold different datatypes</p>

In [16]:
#note: do not name your lists as 'list' because it will clash with python's internal namespace
list1 = [1, 2, 3, "michael", 12.5]

#slicing could be used for lists as well
print(list1[1:])

#list are mutable
list1.append(45) #add single element to list
print(list1)

#add multiple elements (another list) to list
list1.extend(["football", "physics"])
print(list1)

#get size of the list
print( len(list1) )

#sort a list 
numbers = [12, 45, 2, 456, 1]
numbers = sorted(numbers)
print(numbers)

#copy a list
numbers_copy = numbers.copy()
print(numbers_copy)

#pop method
numbers.pop(0)
numbers.insert(0, [12, 24])
print(numbers)

#access elements within nested list
print(numbers[0][1])

#2D list 
matrix = [
          [1, 0, 0, 0], 
          [0, 1, 0, 0], 
          [0, 0, 1, 0], 
          [0, 0, 0, 1]
         ]

[2, 3, 'michael', 12.5]
[1, 2, 3, 'michael', 12.5, 45]
[1, 2, 3, 'michael', 12.5, 45, 'football', 'physics']
8
[1, 2, 12, 45, 456]
[1, 2, 12, 45, 456]
[[12, 24], 2, 12, 45, 456]
24

<em><strong> exercise </strong>: put a dot between every two words of a string using list and string methods </em>

In [18]:
# ** solution  **
course = "Artificial intelligence is a state of the art science which will revolutionize the world"
words = course.split(' ')
print(words)
'.'.join(words)

['Artificial', 'intelligence', 'is', 'a', 'state', 'of', 'the', 'art', 'science', 'which', 'will', 'revolutionize', 'the', 'world']

'Artificial.intelligence.is.a.state.of.the.art.science.which.will.revolutionize.the.world'

2. <h4> Tuples </h4> 
<p> Similar to list but immutable, used to store constant data as it requires less memory.</p>

In [21]:
cor = (1.253, 5.36, 78.5)
print( type(cor[:1]) )
print( cor[2] )
print( cor[:2] )

#we can convert a list to tuple as follows
names = ["akbar", "aslaan", "nader"]
tup_names = tuple(names)
print( tup_names )

#unpacking (pattern matching)
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)

<class 'tuple'>
78.5
(1.253, 5.36)
('akbar', 'aslaan', 'nader')
apple

2. <h4> Dictionaries </h4> 
<p> Similar to objects in Javascript (json) and Map in Java can hold key value pairs.</p>

In [24]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}

print(type(car))
#access
print(car["brand"])
car["number"] = 220
print(car)
#update
car.update({"color": "red"})
print(car)

<class 'dict'>
Ford
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'number': 220}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'number': 220, 'color': 'red'}

3. Sets

In [28]:
myset = set([1, 1, 2, 2, 3, 3, 4])
set1 = {2, 5}
print(myset)
myset.add(72)

{1, 2, 3, 4}

<h2> Control Flow Statements</h2>

<h5>1. conditionals </h5>

In [29]:
#getting input from user
#int functions casts string (terminal) input to int 
x = int(input("first number: ")) 
y = int(input("second number: "))


if x == y:
  print('equal')
elif x < y:
  print("smaller ")
else:
  if x % y == 0:
    print("divisible")
  else:
    print("not divisible")

#we don't have switch statements in python, although it's possible to have 
#the same functionality using dictionary datatype

first number: 8
second number: 4
divisible

<h4>2. loops </h4>

In [33]:
# **** while loop example ****
num = random.randint(1, 10)

correct = False

while not correct:
  guess = int(input("guess?"))
  if guess == num:
    correct = True
    print("you won")
    break
  else:
    continue

guess?5
guess?4
guess?2
guess?7
guess?8
you won

In [ ]:
#for loops
my_list = [1, 2, 3, 5, 6, 7]

#let's print odd numbers in the list above using for
#here's what we're going to do
for num in my_list:
  if num % 2 == 1:
    print(num)

1
3
5
7

In [ ]:
# now let's iterate the list using index and this time print even
for i in range(0, len(my_list)):
  if my_list[i] % 2 == 0:
    print(my_list[i])

2
6

In [ ]:
#iterate the list and print index value pairs as tuples ** IMPORTANT**
for index, value in enumerate([2, 4, 6, 8]):
  print((index, value))

(0, 2)
(1, 4)
(2, 6)
(3, 8)

<h4> 3. Comprehensions (list and dict)</h4>

In [34]:
#list comprehension is a faster technique to create and work with a list

#example: calculate a list of squares of numbers in range of 1 to 10 
squares = [x**2 for x in range(1, 10)]
print(squares)

#dict comprehension
# create a dictionary with numbers (1, 10) as keys and assign either odd or even for every number as value
compr = {x:('even' if x % 2 == 0 else 'odd') for x in range(1, 10)}
print(compr)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd'}

<h2> Functions </h2>

In [35]:
def simple_calc(a, b, action):
  if action == "mult":
    return a * b
  elif action == "add":
    return a + b

# call function
print( simple_calc(2, 5, "add") )
print( simple_calc(2, 5, "mult") )

# argument passing types
# *args
def func1(*kids): # we can pass as many arguments as we want when we call function
  print("The youngest child is " + kids[2])


# **kwargs
def func2(**course):
  print("course name is " +course["name"])


#default argument
def func3(country = "Iran"):
  print("I am from " + country)


#keyword args
def func4(name, lastname, age):
  print(name, lastname, "is", age)


func1("habil", "qabil", "ali")

func2(name = "AI", credits = 3)

func3("Sweden")
func3("Canada")
func3()

func4(lastname="Saadatinia", name="Mehrshad", age=22)

7
10
The youngest child is ali
course name is AI
I am from Sweden
I am from Canada
I am from Iran
Mehrshad Saadatinia is 22

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Mehrshad\AppData\Local\Temp/ipykernel_9064/2998737702.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if action is "mult":
C:\Users\Mehrshad\AppData\Local\Temp/ipykernel_9064/2998737702.py:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  elif action is "add":

<em><strong> exercise </strong>: implement fibonacci sequence recursively and return 10th number in it </em>

In [ ]:
def fibo(n):
  if n == 1:
    return 1
  elif n == 2:
    return 1
  return fibo(n - 1) + fibo(n - 2)
  

fibo(10)

55

<h4>Files and IO</h4>
<em>
f1 = open("myfile.txt", "r") -> open file with read permission <br>
f2 = open("myfile.txt", "a") -> open file with read and append permission <br>
f3 = open("myfile.txt", "w") -> open file with read and write permission <br>
</em>

In [36]:
#some tricks

#any()
test = [1, 2, 3, 4, 5]
print(any(elem % 7 == 0 for elem in test))

#swap
a = 5
b = 10
a, b = b, a
print(b)

#filter
#example: filter out all the strings in a given list of different datatypes
mix = [1, "ali", 45, "nice", 4.5, 12, 23]
res = filter(lambda x: type(x) == type(""), mix)
print(res)
print(list(res))

False
5
<filter object at 0x000001C30819F4F0>
['ali', 'nice']

<em><strong> exercise </strong>: implement DFS **traversal** in Python (left to right)</em>

![Tree dfs.png]()

In [ ]:

def dfs(tree, root):
  stack = []
  stack.append(root)
  while len(stack) != 0:
    top = len(stack) - 1
    temp = stack.pop(top)
    print(temp, " -> ", end='')
    if temp in tree:
      for child in reversed(tree[temp]):
        stack.append(child)
  print("end")

t = {1: [2, 3, 4], 2: [5, 6], 5: [7], 6: [8, 9], 4:[10, 11]}
dfs(t, 1)

1  -> 2  -> 5  -> 7  -> 6  -> 8  -> 9  -> 3  -> 4  -> 10  -> 11  -> end

#### OOP

In [ ]:
# this is how you create a class in python
class Person():
  def __init__(self, name):
    self.name = name
    self.age = 0

  def set_age(self, age):
    self.age = age
  
  def get_name(self):
    return name

In [ ]:
class User(Person):  #inheritance
  def __init__(self, name):
    super().__init__(name)
    self.password = ''
  def set_password(self, pwd):
    self.password = pwd

In [ ]:
u1 = User('Mehrshad')
u1.set_password('1234')
u1.name

'Mehrshad'